#products {
  background-color: var(--gray);
  padding-block: 5rem;

  & .products-header {
    text-align: center;
    margin: 0 auto 4rem;
  }
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.6rem;
  margin: 0 auto;
}

.product-card {
  background-color: var(--white);
  border-radius: var(--radius);
  padding: 1.75rem 1.5rem;
  cursor: pointer;
  border: 1.5px solid transparent;
  position: relative;
  overflow: hidden;
  transition: transform .3s, box-shadow .3s;
}

.product-card::before {
  content: '';
  position: absolute;
  bottom: 0; left: 0; right: 0;
  height: 0.1875rem;
  background: var(--orange);
  transform: scaleX(0);
  transition: transform .4s;
}

.product-card:hover {
  box-shadow: var(--shadow);
  border-color: rgba(240,120,32,.2);
}

.product-card:hover::before { 
  transform:scaleX(1); 
}

.product-icon {
  width: 3rem;
  height: 3rem;
  background: var(--navy);
  border-radius: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.125rem;

  & i {
    color: white;
    font-size: 22px;
    line-height: 0;
    display: block;
  }
}

.product-icon.orange { 
  background: var(--orange); 
}

.product-card h3 {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--navy);
  margin-bottom: 0.8rem;
}

.product-card p {
  font-size: 1rem;
  color: var(--muted);
  line-height: 1.55;
}

.product-cta {
  text-align: center;
  margin-top: 3rem;
}

