.container {
  max-width: 80rem;
  margin: 0 auto;
  padding-inline: 1rem;
}

.btn {
  display: inline-block;
  background-color: var(--orange);
  padding: 0.625rem 1.5rem;
  border-radius: 0.625rem;
}